.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(136, 136, 136, 0.16);
    border-radius: 0.25rem;
    margin-bottom: 7px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.tx-11 {
    font-size: 11px;
}

.tx-uppercase {
    text-transform: uppercase;
}
.tx-spacing-1 {
    letter-spacing: 0.5px;
}
.mg-b-8 {
    margin-bottom: 8px;
}
.tx-semibold {
    font-weight: 600;
}
.tx-color-02 {
    color: #1b2e4b;
}
.d-md-inline {
    display: inline !important;
}


.h6 {
    font-size: 0.875rem;
}



.chart-wrapper {
    border: 2px solid #3d4a57;
    min-height:131px;
}

.chart-wrapper .chart-title {
    color: #FFF;
    background-color: #3d4a57;
}

.dc-chart g.row text {
    fill: #000
}

.dc-chart .pie-slice {
    fill: #000
}

.number-display {
    font-size: 59px
}

.map_svg {
    float: left;
}

.slider_svg {

}

.scree_svg {
    float:left;
}

div.tab {
    background-color: #3d4a57;
    height: 40px;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    padding: 10px 16px;
    transition: 0.3s;
    color: white;
    font-weight: bold;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #990000;
}

.tabcontent {
    display: none;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.background path {
  fill: none;
  stroke: none;
  stroke-width: 20px;
  pointer-events: stroke;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.vaxis .title {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.vaxis line,
.vaxis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  font-weight: unset;
  -webkit-transition: fill 50ms linear;
}

.active .label:not(.inactive) {
  font-weight: bold;
}

.label.inactive {
  fill: #ccc;
}

.foreground path.inactive {
  /* stroke: #ccc; */
  stroke-opacity: .5;
  stroke-width: 1px;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/*.counties {
  fill: none;
}*/

.county-borders {
  fill: none;
  stroke: grey;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/*.states {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
}*/

.state-borders {
  fill: none;
  stroke: #grey;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.x_axis path,
.x_axis line,
.y_axis path,
.y_axis line {
    stroke-width: 2px;
    shape-rendering: crispEdges;
    fill: none;
    stroke: black;
}

.screepath {
    stroke: steelblue;
    stroke-width: 3;
    fill: none;
}

.axis_label {
    stroke-width: 0px;
}

.bar_svg rect {
    fill: steelblue;
}

.loadings {
  fill: black;
  font-size: 15px
}

.names {
  fill: black
}

.barline {
  stroke: grey;
  stroke-width: 2px;
}

.barrule {
    fill: black;
    font-size: 12px;
}

.bar_svg rect:hover {
  fill: #CE0B29;
}

.dot {
    transform: translate(60px, 0px);
}

.radio_container{
    float: left;
    clear: none;
}

fieldset {
  overflow: hidden
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.radar_svg {
    transform: translate(100px, 100px);
}

.legend_svg {
    float: left;
    height: 50px;
    width: 485px;
    transform: translate(380px, 0px);
}

.legend {
    transform: translate(0px, 30px);
}

.legend-dash {
    font-size: 9px;
}

.chart_name {
    font-size: ;
    font-weight: bold;
}
